@import "fonts";
@import "vars";
@import "_mixins/clearfix";

/*=== header ===*/

.header {
    height: 180px;
    margin-top: 10px;
    @include clearfix;
    background-color: #232A33;
}

.header__logo,
.header__search,
.header__menu {
    width: 33%;
}

.header__logo {
    float: left;
    height: 100%;
    .logo__text {
        margin: 0;
        line-height: 180px;
        color: #fff;
    }
}

/*=== /header ===*/

/*=== header menu ===*/

.header__menu {
    height: 100%;
    width: 280px;
    float: right;
    padding-top: 25px;
}

.menu__link {
    display: block;
    padding: 2px 0 2px 10px;
    background-color: #262E38;
    color: #5B6062;
}

.menu__item {
    border-bottom: 1px solid #232A33;
    &:last-child {
        border-bottom: none;
    }
}

.menu__link:hover {
    color: $light-font-color;
    background-color: $body-color;
}


/*=== /Header menu ===*/


/*=== Wrapper ===*/

.wrapper {
    min-height: 100%;
}

/*=== /Wrapper ===*/

/*=== Footer ===*/

.footer {
    position: relative;
    margin-top: -70px;
    height: 60px;
    clear: both;
    background-color: #262E38;
    text-align: center;
    line-height: 60px;
}

/*=== /Footer ===*/

/*===== site-content =====*/
.site-content {
    @include clearfix;
    margin: 20px 0 90px 0;
}
/*==== blog-list ====*/
.blog-list {
    float: left;
    width: 67%;
    padding: 20px;
    background-color: #ede9dc;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #000;
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.73), inset 4px -25px 41px -5px rgba(0,0,0,0.14);
}

/* blog-header__date */
.blog-header__date {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 43px;
    overflow: hidden;
    border: 1px solid #30353a;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #fff;
    background-color: #404953; 
    font-size: 11px;
    color: #5B6062;
    text-align: center;
    &:before {
      position: absolute;      
      content: "";
      display: block;
      width: 45px;
      height: 45px;
      background: linear-gradient(to bottom, rgba(200,200,200,0.3) 0%, rgba(46,56,68,0.4) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#2e3844', GradientType=0 );
    }
    .date {
        display: block;
        margin: 0;
        height: 25px;
        line-height: 25px;
        font-size: 15px;
        color: #ede9dc;
        
    }
    .month {
        display: block;
        margin: 0;
        padding: 0;
        height: 16px;
        line-height: 16px;
        background-color: #000;
        opacity: 0.53;
    }
}

.blog-header__title {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 20px;
    .post-title {
        margin: 0;
        padding: 0;
        font-size: 20px;
        line-height: 24px;
        color: #2d3844;
    }
    .post-title__author {
        margin: 0;
        padding: 0;
        font-size: 11px;
        line-height: 18px;
        color: #a5a39a;
    }
}

.blog-post {
    padding-top: 20px;
    color: #3b3a37;
    font-size: 12;
    line-height: 19px;
    p {
        margin-top: 0;
    }
    .cite {
        float: right;
        width: 208px;
        padding: 20px 0;
        margin: 15px 0 15px 15px;
        border-top: 2px solid #8d9090;
        border-bottom: 2px solid #8d9090;
        text-align: center;
        color: #2d3844;
        font-size: 20px;
        line-height: 24px;
        font-style: italic;
    }
}
/*==== /blog-list ====*/

/*===== /site-content =====*/