@import "vars";

.site-header {
  height: 175px;
  background-color: #232A33;  
}

.site-header__title {
  margin-top: 35px;
}

.top-nav {
  padding-top: 15px;
  .top-nav__list {
    float: right;
    list-style-type: none;
    .top-nav__item {
      width: 280px;
      padding: 2px 0 2px 10px;
      background-color: #262E38;
      border-bottom: 1px solid #232A33;
      font-size: 12px;
      color: #5B6062;      
      &:last-of-type {
        border-bottom: none;
      }
      &:hover,
      &:active {        
        background-color: $body-color;
        cursor: pointer;
        a {
          color: $light-font-color;
          text-decoration: none;
        }
      }
    }
  }
}